from settings import *


BASE_URL = "https://your.dutyfree.host"

XMPP_SETTINGS = {
    'user': "alerting@yourorganisation.org",
    'password': "YourPassword",
    'server': 'your.xmpp.host',
    'port': 5222,
}

EMAIL_SETTINGS = {
    'user': "alerting@yourorganisation.org",
    'password': "YourPassword",
}

TWILIO_SETTINGS = {
    'SID': "TWILIO_ACCOUNT_SID",
    'token': "TWILIO_ACCOUNT_TOKEN",
    'phone_number': "+1202334423434",
    'sms_number': "+1202432453243",
    '_note': 'it is important not to leave spaces or dashes in twilio numbers, but the plus is okay',
    'twiml_url': "http://www.website.org/voice.xml"
}

SLACK_SETTINGS = {
    'apikey': "YOUR_SLACK_API_KEY",
    '_note':  'you have to generate an API key, it is not the webhook or other integration key/token'
}


DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'yourmysqluser',
        'USER': 'yourdbname',
        'PASSWORD': 'yourdbpassword',
        'HOST': 'yourdbhost',
        'PORT': 'yourdbport'
    }
}

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'yoursecretkey'

ALLOWED_HOSTS = ['your.dutyfree.host']
